body{
  margin:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background:radial-gradient(#F7DBF0,#F9F9F9);
}
h1{
  color: #85F2E0;
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
}
h3{
  font-family: 'Satisy', cursive;
  margin: auto;
}

hr{
border:dotted #BEAEE2 6px;
border-bottom: none;
width:15%;
margin: 50px auto;
}
img{

  max-width:20%;
    height:auto;
}
.top-container{
  position:relative;
  padding: 120px;
    background:radial-gradient(#CDF0EA, #85F2E0);
}

.fourth{
  background:radial-gradient(#F7DBF0, #F993DF);
}
.fifth{
  background:radial-gradient(#BEAEE2, #926DE8);
}
.box{
  background-color: white;
}
.wallpaper{
  max-width:40%;
    height:auto;
    text-align: center;
}

.mensa{
  margin-left: auto;
  margin-right: auto;
}
